In [ ]:
#SWN20140227 Table: 0
#remaining bug: bcf in the first column...

In [14]:
%load_ext autoreload
%autoreload 2
import pickle
import re
import pandas as pd
import numpy as np
from IPython.display import display, HTML
from zlu_functions import del_subset_col, set_col_headers, \
                          row_header_to_col,remove_rows_for_total_value, \
                          dfs_need_transpose, remove_cols_for_fair_value, \
                          collar_fill_empty,remove_empty_rows_and_cols, \
                          df_column_uniquify, verticalSplit_instrument, \
                          verticalSplit_ZLU
from nel_functions import delete_uninformative,delete_empty,delete_duplicated, \
                          delete_subset,get_vertically_stacked_subtables, \
                          vertically_stacked_subtable_cleaner
from helper import volumeCleaner, dateCleaner, priceCleaner,trimDictonary,verticalSplit, \
                   instrumentCleaner, productCleaner, filterBusiness,columnSorter, \
                   verticalSplit_test
#pickle_in=open('../SEC_Data/Hedge/hedge_dfs_all_new.pickle','rb')

pickle_in=open('hedge_dfs_sub_new.pickle', 'rb')
df_dic=pickle.load(pickle_in)

delete_empty(df_dic)
df_dic = trimDictonary(df_dic,[])#remove empty list of dfs
del_dfs_dic_0 = delete_duplicated(df_dic) #remove duplicated dfs within a list; again
del_dfs_dic_1 = delete_subset(df_dic)

ticker_list = []

for k in df_dic.keys():
    if k[:3] not in ticker_list:
        print(k[:3])
        ticker_list.append(k[:3])


df_dic = filterBusiness(df_dic, 'CLR')
# df_dic={'CLR20100226':df_dic['CLR20100226']}
#del df_dic['PKD20090302'] #false positive
with open('output_before_spliting.csv','w') as f:
    pass
#preprocessing for all dfs
for k in df_dic.keys():
    for i in range(len(df_dic[k])):

        df=df_dic[k][i]
        df=set_col_headers(df) #set headers
        df=del_subset_col(df) #delete redundant cols
        df=remove_rows_for_total_value(df) #if any row for total value; save it
        df=remove_cols_for_fair_value(df)
        df_dic[k][i]=df
        with open('output_before_spliting.csv','a') as f:
            df=df_dic[k][i]
            f.writelines(k+'\n'+'table:'+str(i))
            try: df.to_csv(f,encoding='cp1252')
            except: df.to_csv(f,encoding='utf-8')

#         print(k,'Original Table:',i,'-'*10)
#         display(HTML(df.to_html()))

#Vertical Split
# for k in df_dic.keys(): #apply Sam's spliting function
    #print(k)
#     if 'RRC' in k: df_dic[k] = verticalSplit(df_dic[k])
#     elif k=='BRY20110301':
#         split_dfs = []
#         for table in df_dic[k]:
#             df1 = table.iloc[:, 0:3]
#             df2 = table.iloc[:, 3:]
#             split_dfs.append(df1)
#             split_dfs.append(df2)
#             df_dic[k]=split_dfs
#     else: df_dic[k] = verticalSplit(df_dic[k])
#     df_dic[k]=verticalSplit_instrument(df_dic[k])
#     if 'RRC' in k: df_dic[k] = verticalSplit(df_dic[k])
#     else: df_dic[k] = verticalSplit_ZLU(df_dic[k])
 

for k in df_dic.keys():
    #print(k)
    for i in range(len(df_dic[k])):
        df=df_dic[k][i]
        if df.shape[1]==1: df=pd.DataFrame()
        elif isinstance(df, pd.DataFrame): #after new headers; ignore empty dfs
            df=del_subset_col(df) #delete redundant cols
            df=remove_rows_for_total_value(df) #if any row for total value; save it
            df=remove_cols_for_fair_value(df)
            df=row_header_to_col(df)
            df=dfs_need_transpose(df)
            df=collar_fill_empty(df)
            df=df_column_uniquify(df)
            df_dic[k][i]=remove_empty_rows_and_cols(df)
#             print(k,'Table:',i,'-'*10,'After preprocessing')
#             display(HTML(df.to_html()))


split_dictonary = {'swap_split' : ['swap'],
                   'collar_split': ['collar', 'floor', 'ceiling']}


#Vertical Split
for k in df_dic.keys(): #apply Sam's spliting function
    print(k)
    df_dic[k] = verticalSplit_test(df_dic[k], dictonary = split_dictonary, verbose = True)
#     if 'RRC' in k: df_dic[k] = verticalSplit(df_dic[k])
#     else: df_dic[k] = verticalSplit_ZLU(df_dic[k])
#     df_dic[k]=verticalSplit_instrument(df_dic[k])
#     if 'RRC' in k: df_dic[k] = verticalSplit(df_dic[k])
#     else: df_dic[k] = verticalSplit_ZLU(df_dic[k])    
    for i in range(len(df_dic[k])):
        df=df_dic[k][i]
        if df.shape[1]==1: df=pd.DataFrame()
        elif isinstance(df, pd.DataFrame): #after new headers; ignore empty dfs
            df=del_subset_col(df) #delete redundant cols
            df=remove_rows_for_total_value(df) #if any row for total value; save it
            df=remove_cols_for_fair_value(df)
            df=df_column_uniquify(df)
            df_dic[k][i]=remove_empty_rows_and_cols(df)
           
#Horizontally Split
del_dfs_dic3=get_vertically_stacked_subtables(df_dic)
vertically_stacked_subtable_cleaner(df_dic,del_dfs_dic3,exclusion=True, excluded_ticker=('MXC', 'OXY', 'HOC'))

delete_empty(df_dic)
df_dic = trimDictonary(df_dic,[])#remove empty list of dfs
del_dfs_dic_2 = delete_duplicated(df_dic) #remove duplicated dfs within a list; again
del_dfs_dic_3 = delete_subset(df_dic)

for k in df_dic.keys(): #apply Sam's spliting function
    for i in range(len(df_dic[k])):
        df=df_dic[k][i]
        if df.shape[1]==1: df=pd.DataFrame()
        elif isinstance(df, pd.DataFrame): #after new headers; ignore empty dfs
            df=del_subset_col(df) #delete redundant cols
            df_dic[k][i]=df_column_uniquify(df)
            df_dic[k][i]=remove_empty_rows_and_cols(df)
            
with open('output_before_sam.csv','w') as f:
    pass
with open('output_after_sam.csv','w') as f:
    pass
for k in df_dic.keys():
    for i in range(len(df_dic[k])):
        with open('output_before_sam.csv','a') as f:
            df=df_dic[k][i]
            f.writelines(k+'\n'+'table:'+str(i))
            try: df.to_csv(f,encoding='cp1252')
            except: df.to_csv(f,encoding='utf-8')

date_keys = []               
date_stop = []

price_keys = ['weighted average floor price per mcf','weighted average price per mcf',
              'weighted average price per bbl', 'weighted average floor price per bbl',
              'weighted,average,price to be,swapped,($/mmbtu),,', 'weighted,average,floor,price,($/mmbtu),,',
              'weighted,average,ceiling,price,($/mmbtu),,', 'weighted,average,basis,differential,($/mmbtu),,',
              'weighted average price per mmbtu', 'weighted average price', 'weighted average floor price',
              'weighted average ceiling price', 'weighted average basis differential','swapsweightedaverage','call','floor','ceiling']

price_stop = []

volume_keys = ['mbbls','mmmbtu','mmbtu','bbls']
volume_stop = ['natural gas (bcf)']               

#set verbose to True to turn on the diagonstic output for Sam's functions
verbose = False
key_override = True
                
for k in df_dic.keys():
    print(k)
    for i in range(len(df_dic[k])):
        df=df_dic[k][i]
#         display(HTML(df.to_html()))
        if df.shape[0]>0: #apply Sam's functions to non-empty dfs
            print(k,'Table:',i,'-'*10,'Before Sam function')
            col_lst=[re.sub("[,]+","",col) if 'product_type' in col or 'instrument_type' in col else col for col in df.columns]
            df.columns=col_lst
            display(HTML(df.to_html()))
            df = instrumentCleaner(df, key_words = "", stop_words = "", verbose = verbose)
            df = productCleaner(df, key_words = "", stop_words = "", verbose = verbose)
            df = priceCleaner(df, key_words = price_keys, stop_words = price_stop,\
                                  verbose = verbose, key_override = key_override)
            df = volumeCleaner(df, key_words = volume_keys, stop_words = volume_stop,\
                                   verbose = verbose, key_override = key_override)
            df = dateCleaner(df, value_ids = ["20\d{2}"])
            #ZLU's change begins
            col_lst=[col for col in df.columns if 'vol' in col]
            for col in col_lst:
                df.loc[:,col]=df.loc[:,col].str.replace('[,\(\)]',"")
    #         display(HTML(df.to_html()))
    
    # build into functions volumeCleaner, row delete can stay here
            col_lst=['vol' in col for col in df.columns]
            row_lst=list(range(df.shape[0]))
            for row_idx in range(df.shape[0]):
                if not any(df.iloc[row_idx,col_lst].str.contains('\d')):
                    row_lst.remove(row_idx)
            df=df.iloc[row_lst]
            if all(df.loc[:,'vol_1_type']=='volume'): df.loc[:,'vol_1_type']=df.loc[:,'product_type'].str.extract('\(([^\)]+)\)')
            #ZLU's change ends
            
            print(k+' ,table:'+str(i)+'-----After Sam functions----')
            display(HTML(df.to_html()))
            print('~'*50)
        else: df=pd.DataFrame()
        df_dic[k][i]=df

del_dfs_dic_5 = delete_uninformative(df_dic)
print('1',len(df_dic))
delete_empty(df_dic)
print('2',len(df_dic))
df_dic = trimDictonary(df_dic,[])#remove empty list of dfs
print('3',len(df_dic))
del_dfs_dic_2 = delete_duplicated(df_dic) #remove duplicated dfs within a list; again
print('4',len(df_dic))
del_dfs_dic_3 = delete_subset(df_dic)
print('5',len(df_dic))

print(len(df_dic.keys()))

big_df = pd.DataFrame()

for k in df_dic.keys():
    doc_id = k
    processed_dfs = df_dic[k]
    for df in processed_dfs:
        unprocessed_cols = columnSorter(df)
        print(unprocessed_cols)
        df.drop(unprocessed_cols, axis = 1, inplace = True)
             #zlu change starts
        col_lst=['price' in col for col in df.columns]
        row_lst=list(range(df.shape[0]))
        df['red_flag']=''
        for row_idx in range(df.shape[0]):
            if not any(df.iloc[row_idx,col_lst].str.contains('\d')):
                df.iloc[row_idx,-1]=1
        #zlu change ends

#         display(HTML(df.to_html()))
        length = df.shape[0]
        doc_id_col = np.array([doc_id]*length)
        df.insert(0, 'doc_id', doc_id_col)
        big_df = pd.concat([big_df, df], axis = 0, join = 'outer', sort = False)

print(big_df.shape)

if any(big_df['red_flag'] != ''):
    print("Check the red_flag column for missing values at")
    #print('\n\n', big_df.iloc[big_df['red_flag'] != '', ].index)

try: big_df.to_csv('CLR_clean.csv', encoding='cp1252')
except: big_df.to_csv('CLR_clean.csv', encoding = 'utf-8')
# for k in df_dic.keys():
#     for i in range(len(df_dic[k])):
#         with open('APA_clean.csv','a') as f:
#             df=df_dic[k][i]
#             f.writelines(k+'\n'+'table:'+str(i))
#             try: df.to_csv(f,encoding='cp1252')
#             except: df.to_csv(f,encoding='utf-8')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
APA
APC
CLR
CPE
DVN
ECA
HES
MRO
MUR
NBL
OXY
PXD
RRC
SWN
UNT
CLR20100226
Splitting on  swap_split
Split  0 columns:
 ['period and type of contract,period and type of contract,period and type of contract', 'volumeinmbbls,volumeinmbbls,volumeinmbbls', 'swapsweightedaverage,swapsweightedaverage,swapsweightedaverage', 'additional']
Split  0 pure columns:
 ['swapsweightedaverage,swapsweightedaverage,swapsweightedaverage']

Splitting on  collar_split
Split  1 columns:
 ['period and type of contract,period and type of contract,period and type of contract', 'volumeinmbbls,volumeinmbbls,volumeinmbbls', 'collars,floors,range', 'collars,floors,weightedaverage', 'collars,ceilings,range', 'collars,ceilings,weightedaverage', 'additional']
Split  1 pure columns:
 ['collars,floors,range', 'collars,floors,weightedaverage', 'collars,ceilings,range', 'collars,ceilings,weightedaverage']

There was nothing to split!
Splitting on  swap_split
Split  0 columns:
 [',,period and type of contract', 'volume inmbbls,volume inmbbls,volume inmbbls', 'swapsweightedaverage,swapsweightedaverage,swapsweightedaverage', 'additional']
Split  0 pure columns:
 ['swapsweightedaverage,swapsweightedaverage,swapsweightedaverage']

Splitting on  collar_split
Split  1 columns:
 [',,period and type of contract', 'volume inmbbls,volume inmbbls,volume inmbbls', 'collars,floors,range', 'collars,floors,weightedaverage', 'collars,ceilings,range', 'collars,ceilings,weightedaverage', 'additional']
Split  1 pure columns:
 ['collars,floors,range', 'collars,floors,weightedaverage', 'collars,ceilings,range', 'collars,ceilings,weightedaverage']

There was nothing to split!
There was nothing to split!
CLR20110225
Splitting on  swap_split
Split  0 columns:
 [',,period and type of contract', ',,bbls', ',swaps,weightedaverage', 'additional']
Split  0 pure columns:
 [',swaps,weightedaverage']

Splitting on  collar_split
Split  1 columns:
 [',,period and type of contract', ',,bbls', 'collars,floors,range', 'collars,floors,weightedaverage', 'collars,ceilings,range', 'collars,ceilings,weightedaverage', 'additional']
Split  1 pure columns:
 ['collars,floors,range', 'collars,floors,weightedaverage', 'collars,ceilings,range', 'collars,ceilings,weightedaverage']

There was nothing to split!
Splitting on  swap_split
Split  0 columns:
 [',,,period and type of contract', ',,,bbls', ',swaps,weighted,average', 'additional']
Split  0 pure columns:
 [',swaps,weighted,average']

Splitting on  collar_split
Split  1 columns:
 [',,,period and type of contract', ',,,bbls', 'collars,floors,,range', 'collars,floors,weighted,average', 'collars,ceilings,,range', 'collars,ceilings,weighted,average', 'additional']
Split  1 pure columns:
 ['collars,floors,,range', 'collars,floors,weighted,average', 'collars,ceilings,,range', 'collars,ceilings,weighted,average']

There was nothing to split!
CLR20120224
There was nothing to split!
There was nothing to split!
Splitting on  swap_split
Split  0 columns:
 ['crude oil west texas intermediate,,period and type of contract,period and type of contract', 'bbls,bbls,bbls,bbls', 'swapsweightedaverage,swapsweightedaverage,swapsweightedaverage,swapsweightedaverage', 'additional']
Split  0 pure columns:
 ['swapsweightedaverage,swapsweightedaverage,swapsweightedaverage,swapsweightedaverage']

Splitting on  collar_split
Split  1 columns:
 ['crude oil west texas intermediate,,period and type of contract,period and type of contract', 'bbls,bbls,bbls,bbls', 'collars,floors,range,range', 'collars,floors,weightedaverage,weightedaverage', 'collars,ceilings,range,range', 'collars,ceilings,weightedaverage,weightedaverage', 'additional']
Split  1 pure columns:
 ['collars,floors,range,range', 'collars,floors,weightedaverage,weightedaverage', 'collars,ceilings,range,range', 'collars,ceilings,weightedaverage,weightedaverage']

CLR20130228
There was nothing to split!
There was nothing to split!
Splitting on  swap_split
Split  0 columns:
 ['crude oil nymex wti,,period and type of contract', ',bbls,bbls', 'swapsweightedaverageprice,swapsweightedaverageprice,swapsweightedaverageprice', 'additional']
Split  0 pure columns:
 ['swapsweightedaverageprice,swapsweightedaverageprice,swapsweightedaverageprice']

Splitting on  collar_split
Split  1 columns:
 ['crude oil nymex wti,,period and type of contract', ',bbls,bbls', 'collars,floors,range', 'collars,floors,weightedaverageprice', 'collars,ceilings,range', 'collars,ceilings,weightedaverageprice', 'additional']
Split  1 pure columns:
 ['collars,floors,range', 'collars,floors,weightedaverageprice', 'collars,ceilings,range', 'collars,ceilings,weightedaverageprice']

Splitting on  swap_split
Split  0 columns:
 ['crude oil ice brent,,period and type of contract', ',bbls,bbls', 'swapsweightedaverageprice,swapsweightedaverageprice,swapsweightedaverageprice', 'additional']
Split  0 pure columns:
 ['swapsweightedaverageprice,swapsweightedaverageprice,swapsweightedaverageprice']

Splitting on  collar_split
Split  1 columns:
 ['crude oil ice brent,,period and type of contract', ',bbls,bbls', 'collars,floors,range', 'collars,floors,weightedaverageprice', 'collars,ceilings,range', 'collars,ceilings,weightedaverageprice', 'additional']
Split  1 pure columns:
 ['collars,floors,range', 'collars,floors,weightedaverageprice', 'collars,ceilings,range', 'collars,ceilings,weightedaverageprice']

There was nothing to split!
CLR20140227
There was nothing to split!
There was nothing to split!
There was nothing to split!
Splitting on  swap_split
Split  0 columns:
 [',,crude oil ice brent,period and type of contract', ',,bbls,bbls', ',swapsweightedaverageprice,swapsweightedaverageprice,swapsweightedaverageprice', 'additional']
Split  0 pure columns:
 [',swapsweightedaverageprice,swapsweightedaverageprice,swapsweightedaverageprice']

Splitting on  collar_split
Split  1 columns:
 [',,crude oil ice brent,period and type of contract', ',,bbls,bbls', ',collars,floors,range', ',collars,floors,weightedaverageprice', ',collars,ceilings,range', ',collars,ceilings,weightedaverageprice', 'additional']
Split  1 pure columns:
 [',collars,floors,range', ',collars,floors,weightedaverageprice', ',collars,ceilings,range', ',collars,ceilings,weightedaverageprice']

There was nothing to split!
CLR20150224
There was nothing to split!
There was nothing to split!
Splitting on  swap_split
Split  0 columns:
 [',natural gas   henry hub,,period and type of contract', ',,,mmbtus', ',swaps weighted average price,swaps weighted average price,swaps weighted average price', 'additional']
Split  0 pure columns:
 [',swaps weighted average price,swaps weighted average price,swaps weighted average price']

Splitting on  collar_split
Split  1 columns:
 [',natural gas   henry hub,,period and type of contract', ',,,mmbtus', ',floors,,range', ',floors,weighted average price,weighted average price', ',ceilings,,range', ',ceilings,weighted average price,weighted average price', 'additional']
Split  1 pure columns:
 [',floors,,range', ',floors,weighted average price,weighted average price', ',ceilings,,range', ',ceilings,weighted average price,weighted average price']

CLR20160224
There was nothing to split!
Splitting on  swap_split
Split  0 columns:
 [',natural gas   henry hub,,period and type of contract', ',,,mmbtus', ',swaps weighted average price,swaps weighted average price,swaps weighted average price', 'additional']
Split  0 pure columns:
 [',swaps weighted average price,swaps weighted average price,swaps weighted average price']

Splitting on  collar_split
Split  1 columns:
 [',natural gas   henry hub,,period and type of contract', ',,,mmbtus', ',floors,,range', ',floors,weighted average price,weighted average price', ',ceilings,,range', ',ceilings,weighted average price,weighted average price', 'additional']
Split  1 pure columns:
 [',floors,,range', ',floors,weighted average price,weighted average price', ',ceilings,,range', ',ceilings,weighted average price,weighted average price']

CLR20170222
There was nothing to split!
Splitting on  swap_split
Split  0 columns:
 [',,,period and type of contract', ',,,mmbtus', ',swaps weighted average price,swaps weighted average price,swaps weighted average price', 'additional']
Split  0 pure columns:
 [',swaps weighted average price,swaps weighted average price,swaps weighted average price']

Splitting on  collar_split
Split  1 columns:
 [',,,period and type of contract', ',,,mmbtus', ',floors,,range', ',floors,weighted average price,weighted average price', ',ceilings,,range', ',ceilings,weighted average price,weighted average price', 'additional']
Split  1 pure columns:
 [',floors,,range', ',floors,weighted average price,weighted average price', ',ceilings,,range', ',ceilings,weighted average price,weighted average price']

CLR20100226
CLR20100226 Table: 0 ---------- Before Sam function

instrument_type column already exists
CLR20100226 ,table:0-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20100226 Table: 1 ---------- Before Sam function

instrument_type column already exists
CLR20100226 ,table:1-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20100226 Table: 2 ---------- Before Sam function

instrument_type column already exists
CLR20100226 ,table:2-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20100226 Table: 3 ---------- Before Sam function

instrument_type column already exists
CLR20100226 ,table:3-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20100226 Table: 4 ---------- Before Sam function

instrument_type column already exists
CLR20100226 ,table:4-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20100226 Table: 5 ---------- Before Sam function

instrument_type column already exists
CLR20100226 ,table:5-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20100226 Table: 6 ---------- Before Sam function

instrument_type column already exists
CLR20100226 ,table:6-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20110225
CLR20110225 Table: 0 ---------- Before Sam function

instrument_type column already exists
CLR20110225 ,table:0-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20110225 Table: 1 ---------- Before Sam function

instrument_type column already exists
CLR20110225 ,table:1-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20110225 Table: 2 ---------- Before Sam function

instrument_type column already exists
CLR20110225 ,table:2-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20110225 Table: 3 ---------- Before Sam function

instrument_type column already exists
CLR20110225 ,table:3-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20110225 Table: 4 ---------- Before Sam function

instrument_type column already exists
CLR20110225 ,table:4-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20110225 Table: 5 ---------- Before Sam function

instrument_type column already exists
CLR20110225 ,table:5-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20120224
CLR20120224 Table: 0 ---------- Before Sam function

instrument_type column already exists
CLR20120224 ,table:0-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20120224 Table: 1 ---------- Before Sam function

instrument_type column already exists
CLR20120224 ,table:1-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20120224 Table: 2 ---------- Before Sam function

instrument_type column already exists
CLR20120224 ,table:2-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20120224 Table: 3 ---------- Before Sam function

instrument_type column already exists
CLR20120224 ,table:3-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20120224 Table: 4 ---------- Before Sam function

instrument_type column already exists
CLR20120224 ,table:4-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20130228
CLR20130228 Table: 0 ---------- Before Sam function

instrument_type column already exists
CLR20130228 ,table:0-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20130228 Table: 1 ---------- Before Sam function

instrument_type column already exists
CLR20130228 ,table:1-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20130228 Table: 2 ---------- Before Sam function

instrument_type column already exists
CLR20130228 ,table:2-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20130228 Table: 3 ---------- Before Sam function

instrument_type column already exists
CLR20130228 ,table:3-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20130228 Table: 4 ---------- Before Sam function

instrument_type column already exists
CLR20130228 ,table:4-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20130228 Table: 5 ---------- Before Sam function

instrument_type column already exists
CLR20130228 ,table:5-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20130228 Table: 6 ---------- Before Sam function

instrument_type column already exists
CLR20130228 ,table:6-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20140227
CLR20140227 Table: 0 ---------- Before Sam function

instrument_type column already exists
CLR20140227 ,table:0-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20140227 Table: 1 ---------- Before Sam function

instrument_type column already exists
CLR20140227 ,table:1-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20140227 Table: 2 ---------- Before Sam function

instrument_type column already exists
CLR20140227 ,table:2-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20140227 Table: 3 ---------- Before Sam function

instrument_type column already exists
CLR20140227 ,table:3-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20140227 Table: 4 ---------- Before Sam function

instrument_type column already exists
CLR20140227 ,table:4-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20140227 Table: 5 ---------- Before Sam function

instrument_type column already exists
CLR20140227 ,table:5-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20150224
CLR20150224 Table: 0 ---------- Before Sam function

instrument_type column already exists
CLR20150224 ,table:0-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20150224 Table: 1 ---------- Before Sam function

instrument_type column already exists
CLR20150224 ,table:1-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20150224 Table: 2 ---------- Before Sam function

instrument_type column already exists
CLR20150224 ,table:2-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20150224 Table: 3 ---------- Before Sam function

instrument_type column already exists
CLR20150224 ,table:3-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20160224
CLR20160224 Table: 0 ---------- Before Sam function

instrument_type column already exists
CLR20160224 ,table:0-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20160224 Table: 1 ---------- Before Sam function

instrument_type column already exists
CLR20160224 ,table:1-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20160224 Table: 2 ---------- Before Sam function

instrument_type column already exists
CLR20160224 ,table:2-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20170222
CLR20170222 Table: 0 ---------- Before Sam function

instrument_type column already exists
CLR20170222 ,table:0-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20170222 Table: 1 ---------- Before Sam function

instrument_type column already exists
CLR20170222 ,table:1-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
CLR20170222 Table: 2 ---------- Before Sam function

instrument_type column already exists
CLR20170222 ,table:2-----After Sam functions----

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1 8
2 8
3 8
4 8
5 8
8
['period and type of contract,period and type of contract,period and type of contract']
['period and type of contract,period and type of contract,period and type of contract']
['period and type of contract']
[',,period and type of contract']
[',,period and type of contract']
['period and type of contract']
['period and type of contract']
[',,period and type of contract']
[',,period and type of contract']
['period and type of contract']
[',,,period and type of contract']
[',,,period and type of contract']
['period and type of contract']
['period and type of contract']
['period and type of contract']
['crude oil west texas intermediate,,period and type of contract,period and type of contract']
['crude oil west texas intermediate,,period and type of contract,period and type of contract']
['natural gas henry hub,period and type of contract']
['period and type of contract']
['period and type of contract']
['crude oil nymex wti,,period and type of contract']
['crude oil nymex wti,,period and type of contract']
['crude oil ice brent,,period and type of contract']
['crude oil ice brent,,period and type of contract']
['natural gas nymex henry hub,,,period and type of contract']
[',period and type of contract']
[',period and type of contract']
[',crude oil nymex wti,period and type of contract']
[',,crude oil ice brent,period and type of contract']
[',,crude oil ice brent,period and type of contract']
[',natural gas nymex henry hub,,period and type of contract']
[',crude oil   nymex wti,,period and type of contract']
[',crude oil   ice brent,,period and type of contract']
[',natural gas   henry hub,,period and type of contract']
[',natural gas   henry hub,,period and type of contract']
[',crude oil   ice brent,,period and type of contract']
[',natural gas   henry hub,,period and type of contract']
[',natural gas   henry hub,,period and type of contract']
[',,,period and type of contract']
[',,,period and type of contract']
[',,,period and type of contract']
(86, 15)

In [3]:
big_df[big_df['red_flag'] == 1]

,doc_id,vol_1,vol_1_type,price_1,price_1_type,maturity,instrument_type,product_type,red_flag,price_2,price_2_type,price_3,price_3_type,price_4,price_4_type,price_5,price_5_type
5,CLR20100226,148,mbbls,,swapsweightedaverage,20102010,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,CLR20100226,228,mbbls,,swapsweightedaverage,20102010,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,CLR20100226,598,mbbls,,swapsweightedaverage,20102010,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,CLR20100226,598,mbbls,,swapsweightedaverage,20102010,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CLR20100226,343,mbbls,,floor,20102010,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
7,CLR20100226,410,mbbls,,floor,20102010,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
10,CLR20100226,414,mbbls,,floor,20102010,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
13,CLR20100226,414,mbbls,,floor,20102010,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
5,CLR20100226,453,mbbls,,swapsweightedaverage,20102010,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,CLR20100226,644,mbbls,,swapsweightedaverage,20102010,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,CLR20100226,1278,mbbls,,swapsweightedaverage,20112011,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CLR20100226,905,mbbls,,floor,20102010,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
6,CLR20110225,3102500,bbls,,swapsweightedaverage,20132013,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CLR20110225,915000,bbls,,floor,20122012,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
6,CLR20110225,2565000,bbls,,swapsweightedaverage,20112011,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,CLR20110225,2593500,bbls,,swapsweightedaverage,20112011,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,CLR20110225,2622000,bbls,,swapsweightedaverage,20112011,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,CLR20110225,2622000,bbls,,swapsweightedaverage,20112011,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,CLR20110225,5332620,bbls,,swapsweightedaverage,20122012,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,CLR20110225,4745000,bbls,,swapsweightedaverage,20132013,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CLR20110225,284000,bbls,,floor,20112011,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
8,CLR20110225,273000,bbls,,floor,20112011,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
11,CLR20110225,460000,bbls,,floor,20112011,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
14,CLR20110225,644000,bbls,,floor,20112011,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
17,CLR20110225,7320000,bbls,,floor,20122012,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
20,CLR20110225,5110000,bbls,,floor,20132013,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
6,CLR20120224,5332620,bbls,,swapsweightedaverage,20122012,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CLR20120224,7320000,bbls,,floor,20122012,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
8,CLR20120224,5110000,bbls,,floor,20132013,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
5,CLR20130228,8760000,bbls,,swapsweightedaverage,20132013,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CLR20130228,11862500,bbls,,floor,20132013,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
7,CLR20130228,10311250,bbls,,floor,20142014,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
7,CLR20130228,2190000,bbls,,swapsweightedaverage,20142014,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CLR20130228,3467500,bbls,,floor,20132013,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
6,CLR20130228,6570000,bbls,,floor,20142014,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
9,CLR20130228,1277500,bbls,,floor,20152015,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
6,CLR20140227,2190000,bbls,,swapsweightedaverage,20142014,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,CLR20140227,730000,bbls,,swapsweightedaverage,20152015,collar,oil,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CLR20140227,17028000,bbls,,floor,20142014,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN
8,CLR20140227,2737500,bbls,,floor,20152015,swap,oil,1,,floor,,ceiling,,ceiling,NaN,NaN

In [7]:
re.search('\d', '-')