In [14]:
import numpy as np
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [72]:
# pip install fredapi

# ! pip install yfinance
# import yfinance as yf

In [4]:
from fredapi import Fred
fred = Fred(api_key = '2d063b4e6530724ac4a200b65467a14b')

### Macro Economics Data from FRED ST.Louis - Quarterly

In [66]:

# Quarterly RGDP chained 2012 no seasonal adjustment (2003-2017)
RGDP_Q = fred.get_series('GDPC1', observation_start='1/1/2003', 
                                  observation_end='10/1/2017')   # <- can adjust

# CPI Quarterly
# Quarterly Consumer Price Index: Energy for the United States (2003 - 2017)
ENGCPI_Q = fred.get_series('USACPIENGQINMEI', observation_start='1/1/2003',
                                            observation_end='12/1/2017')

# Expenditure
# Quarterly Personal Consumption Expenditures for Nonedurable goods(Gasoline&other Energy goods)
ENGPCE_Q = fred.get_series('DGOERC1Q027SBEA', observation_start='1/1/2003',
                                             observation_end='10/1/2017')


# POILWTIUSDM
# Quarterly Global price of WTI Crude
Global_Crude_Q = fred.get_series('POILWTIUSDM', observation_start='1/1/2003',
                                            observation_end='12/1/2017', frequency = 'q')



RGDP_Q = pd.DataFrame(RGDP_Q, columns = ['quarterly_rgdp'])
ENGCPI_Q = pd.DataFrame(ENGCPI_Q, columns=['CPI for Energy'])
ENGPCE_Q = pd.DataFrame(ENGPCE_Q, columns=['energy_cpi_q'])
Global_Crude_Q = pd.DataFrame(Global_Crude, columns=['Global Price U.S. Dollars per Barrel'])

In [67]:
Global_Crude_Q.head()

            Global Price U.S. Dollars per Barrel
2003-01-01                             34.027811
2003-04-01                             29.080000
2003-07-01                             30.250446
2003-10-01                             31.174812
2004-01-01                             35.192298

In [64]:


# GDP
# Annual RGDP chained 2012 no seasonal adjustment (2003-2017)
RGDP_A = fred.get_series('GDPCA', observation_start='1/1/2003',
                                  observation_end='1/1/2017')     # <- can adjust


# Inflation 
# Monthly 10-year Breakeven Inflation Rate(Monthly)
BEI_M = fred.get_series('T10YIEM', observation_start='1/1/2003',
                                    observation_end='12/1/2017')


# CPI
# Monthly Energy CPI for US (2003 2017)
ENGCPI_M = fred.get_series('USACPIENGMINMEI', observation_start='1/1/2003',
                                            observation_end='12/1/2017')





# Money Supply M2
# Monthly Money Supply M2 for US (2003 - 2019)
M2 = fred.get_series('M2SL', observation_start='1/1/2003',
                                            observation_end='12/1/2017')

# ACDGNO 
#Monthly Value of Manufacturers' New Orders for Consumer Goods: Consumer Durable Goods Industries (ACDGNO)

ACDGNO = fred.get_series('ACDGNO', observation_start='1/1/2003',
                                            observation_end='12/1/2017')

# POILWTIUSDM
# Monthly Global price of WTI Crude
Global_Crude = fred.get_series('POILWTIUSDM', observation_start='1/1/2003',
                                            observation_end='12/1/2017')

# NATURALGASD11
# Monthly Natural Gas Consumption

gas_consumption = fred.get_series('NATURALGASD11', observation_start='1/1/2003',
                                            observation_end='12/1/2017')


RGDP_A = pd.DataFrame(RGDP_A, columns= ['annual_rgdp']) 
BEI_M = pd.DataFrame(BEI_M, columns=['breakeven_inflation'])
ENGCPI_M = pd.DataFrame(ENGCPI_M, columns=['CPI for Energy'])

M2_M = pd.DataFrame(M2, columns=['M2SL in Billions of Dollars'])
ACDGNO_M = pd.DataFrame(ACDGNO, columns=['ACDGNO in Million of Dollars'])
Global_Crude_M = pd.DataFrame(Global_Crude, columns=['Global Price U.S. Dollars per Barrel'])
Gas_Cnsmp_M = pd.DataFrame(gas_consumption, columns=['NG Consumption Billion Cubic Feet'])

In [ ]:
RGDP_A
RGDP_Q
BEI_M
ENGCPI_M
ENGPCE_Q

In [24]:
crude_gas_monthly = pd.read_csv('crude_gas_monthly.csv')
crude_gas_monthly = pd.DataFrame(crude_gas_monthly)
crude_gas_monthly.set_index('Date', inplace = True)

In [52]:
# Concatenating the dataframes
macro_data_monthly = pd.concat([BEI_M, ENGCPI_M, M2_M, ACDGNO_M, crude_gas_monthly, 
                                Global_Crude_M, Gas_Cnsmp_M], axis = 'columns')

In [31]:
crude_gas_daily = pd.read_csv('crude_gas_daily.csv')
crude_gas_daily

,Date,"Cushing, OK Crude Oil Future Contract 1 (Dollars per Barrel)","Cushing, OK Crude Oil Future Contract 2 (Dollars per Barrel)","Cushing, OK Crude Oil Future Contract 3 (Dollars per Barrel)","Cushing, OK Crude Oil Future Contract 4 (Dollars per Barrel)",Natural Gas Futures Contract 1 (Dollars per Million Btu),Natural Gas Futures Contract 2 (Dollars per Million Btu),Natural Gas Futures Contract 3 (Dollars per Million Btu),Natural Gas Futures Contract 4 (Dollars per Million Btu)
0,2003-01-02,31.85,31.10,29.91,28.84,5.251,5.131,4.821,4.691
1,2003-01-03,33.08,32.22,30.84,29.62,5.344,5.220,4.945,4.795
2,2003-01-06,32.10,31.44,30.17,28.99,4.935,4.870,4.731,4.633
3,2003-01-07,31.08,30.55,29.63,28.73,5.127,5.047,4.875,4.755
4,2003-01-08,30.56,30.06,29.29,28.52,5.161,5.111,4.933,4.813
5,2003-01-09,31.99,31.28,30.32,29.38,5.304,5.229,5.029,4.904
6,2003-01-10,31.68,30.96,30.00,29.04,5.143,5.068,4.873,4.753
7,2003-01-13,32.26,31.59,30.64,29.64,5.251,5.172,4.930,4.802
8,2003-01-14,32.37,31.78,30.96,29.97,5.107,5.055,4.858,4.756
9,2003-01-15,33.21,32.45,31.52,30.48,5.430,5.355,5.067,4.912
10,2003-01-16,33.66,32.81,31.83,30.82,5.645,5.603,5.223,5.018
11,2003-01-17,33.91,32.96,31.96,30.95,5.536,5.503,5.148,4.958
12,2003-01-21,34.61,33.19,32.01,30.96,5.433,5.432,5.127,4.945
13,2003-01-22,32.85,31.79,30.77,29.78,5.673,5.608,5.233,5.018
14,2003-01-23,32.25,31.39,30.46,29.55,5.458,5.425,5.125,4.929
15,2003-01-24,33.28,32.16,31.12,30.13,5.524,5.465,5.103,4.890
16,2003-01-27,32.29,31.39,30.49,29.60,5.396,5.291,4.965,4.790
17,2003-01-28,32.67,31.82,30.94,30.07,5.444,5.359,5.000,4.810
18,2003-01-29,33.63,32.71,31.72,30.75,5.660,5.629,5.234,4.969
19,2003-01-30,33.85,32.96,31.95,30.96,5.583,5.270,4.980,4.880
20,2003-01-31,33.51,32.74,31.80,30.86,5.605,5.345,5.027,4.899
21,2003-02-03,32.76,32.16,31.34,30.52,5.766,5.485,5.163,4.993
22,2003-02-04,33.58,32.91,32.04,31.15,5.762,5.512,5.212,5.049
23,2003-02-05,33.93,33.27,32.37,31.45,5.644,5.414,5.171,5.061
24,2003-02-06,34.16,33.33,32.40,31.45,5.828,5.578,5.298,5.158
25,2003-02-07,35.12,34.25,33.13,32.03,6.043,5.780,5.448,5.283
26,2003-02-10,34.48,33.70,32.60,31.54,5.852,5.617,5.327,5.197
27,2003-02-11,35.44,34.47,33.27,32.07,5.977,5.617,5.327,5.197
28,2003-02-12,35.77,34.54,33.35,32.15,5.785,5.560,5.315,5.205
29,2003-02-13,36.36,35.18,33.92,32.64,5.740,5.550,5.350,5.260
...,...,...,...,...,...,...,...,...,...
3714,2017-10-18,52.04,52.26,52.45,52.56,2.854,3.065,3.194,3.203
3715,2017-10-19,51.29,51.51,51.73,51.87,2.873,3.086,3.218,3.227
3716,2017-10-20,51.47,51.84,52.04,52.17,2.915,3.113,3.241,3.249
3717,2017-10-23,51.90,52.08,52.19,52.26,2.991,3.156,3.280,3.284
3718,2017-10-24,52.47,52.67,52.79,52.87,2.974,3.135,3.257,3.260
3719,2017-10-25,52.18,52.43,52.59,52.71,2.919,3.082,3.203,3.205
3720,2017-10-26,52.64,52.86,53.00,53.10,2.890,3.051,3.175,3.178
3721,2017-10-27,53.90,54.09,54.18,54.21,2.752,2.964,3.102,3.107
3722,2017-10-30,54.15,54.37,54.48,54.53,2.966,3.100,3.103,3.066
3723,2017-10-31,54.38,54.59,54.69,54.72,2.896,3.026,3.030,3.000
3724,2017-11-01,54.30,54.51,54.62,54.66,2.893,3.017,3.024,2.992
3725,2017-11-02,54.54,54.77,54.89,54.93,2.935,3.051,3.058,3.025
3726,2017-11-03,55.64,55.86,55.98,56.02,2.984,3.097,3.102,3.068
3727,2017-11-06,57.35,57.57,57.70,57.72,3.134,3.232,3.231,3.189
3728,2017-11-07,57.20,57.43,57.59,57.63,3.152,3.251,3.252,3.212
3729,2017-11-08,56.81,57.05,57.22,57.32,3.175,3.272,3.275,3.231
3730,2017-11-09,57.17,57.39,57.56,57.65,3.200,3.297,3.298,3.253
3731,2017-11-13,56.76,56.97,57.13,57.27,3.167,3.262,3.265,3.222
3732,2017-11-14,55.70,55.89,56.03,56.16,3.102,3.203,3.205,3.165
3733,2017-11-15,55.33,55.52,55.66,55.79,3.080,3.179,3.180,3.140
3734,2017-11-16,55.14,55.35,55.49,55.60,3.053,3.153,3.155,3.121
3735,2017-11-17,56.55,56.71,56.81,56.87,3.097,3.191,3.190,3.152
3736,2017-11-20,56.09,56.42,56.53,56.60,3.047,3.140,3.141,3.107
3737,2017-11-21,56.83,56.92,56.96,56.92,3.017,3.110,3.110,3.078
3738,2017-11-22,58.02,58.02,57.94,57.78,2.968,3.059,3.064,3.034
3739,2017-11-27,58.11,58.16,58.08,57.92,2.928,3.017,3.023,2.990
3740,2017-11-28,57.99,58.05,58.00,57.88,3.074,3.128,3.131,3.092
3741,2017-11-29,57.30,57.36,57.31,57.20,3.179,3.179,3.137,2.945
3742,2017-11-30,57.40,57.45,57.40,57.28,3.025,3.032,2.999,2.867
3743,2017-12-01,58.36,58.38,58.31,58.17,3.061,3.063,3.025,2.878

In [53]:
macro_data_monthly

,breakeven_inflation,CPI for Energy,M2SL in Billions of Dollars,ACDGNO in Million of Dollars,"Cushing, OK Crude Oil Future Contract 1 (Dollars per Barrel)","Cushing, OK Crude Oil Future Contract 2 (Dollars per Barrel)","Cushing, OK Crude Oil Future Contract 3 (Dollars per Barrel)","Cushing, OK Crude Oil Future Contract 4 (Dollars per Barrel)",Natural Gas Futures Contract 1 (Dollars per Million Btu),Natural Gas Futures Contract 2 (Dollars per Million Btu),Natural Gas Futures Contract 3 (Dollars per Million Btu),Natural Gas Futures Contract 4 (Dollars per Million Btu),Global Price U.S. Dollars per Barrel,NG Consumption Billion Cubic Feet
2003-01-01,1.76,62.840385,5793.0,34936.0,32.70,31.87,30.87,29.89,5.381,5.294,5.010,4.853,32.915217,1937.9
2003-02-01,1.91,66.734025,5829.2,34336.0,35.73,34.43,33.16,31.97,6.657,5.963,5.587,5.416,35.852500,2029.8
2003-03-01,1.87,70.282659,5849.9,34082.0,33.16,31.69,30.48,29.66,5.786,5.541,5.441,5.398,33.315714,1865.7
2003-04-01,1.78,68.064763,5887.1,33536.0,28.14,26.98,26.52,26.21,5.358,5.430,5.465,5.466,28.328182,1833.6
2003-05-01,1.66,66.044013,5947.3,34324.0,28.07,27.54,27.03,26.62,5.926,6.008,6.042,6.016,28.201818,1823.0
2003-06-01,1.61,67.276177,5984.0,34353.0,30.52,29.49,28.85,28.30,5.925,6.005,6.021,6.057,30.710000,1689.5
2003-07-01,1.87,67.424037,6030.6,36246.0,30.70,30.26,29.75,29.29,5.034,5.047,5.097,5.311,30.734348,1807.7
2003-08-01,2.13,69.296927,6088.7,33995.0,31.60,31.42,30.96,30.39,4.978,5.035,5.256,5.479,31.583810,1836.4
2003-09-01,2.08,71.268390,6060.8,36628.0,28.31,28.29,28.00,27.71,4.667,4.898,5.155,5.319,28.433182,1801.2
2003-10-01,2.21,67.473324,6051.5,36308.0,30.35,30.25,29.88,29.46,4.986,5.307,5.481,5.428,30.321739,1852.3
2003-11-01,2.34,65.600434,6056.6,35731.0,31.06,30.67,30.27,29.82,4.834,5.017,5.001,4.849,31.024000,1828.2
2003-12-01,2.29,64.959708,6054.7,35080.0,32.14,31.99,31.51,30.99,6.469,6.434,5.998,5.148,32.178696,1851.0
2004-01-01,2.26,67.719757,6063.2,34731.0,34.22,33.58,33.04,32.48,6.272,6.202,5.510,5.336,34.124091,1926.8
2004-02-01,2.32,69.296927,6102.1,35562.0,34.50,33.54,32.91,32.37,5.363,5.278,5.241,5.250,34.721500,1952.3
2004-03-01,2.36,70.529091,6137.8,37237.0,36.72,36.03,35.27,34.64,5.542,5.629,5.674,5.710,36.731304,1789.5
2004-04-01,2.45,71.909116,6178.8,34958.0,36.62,36.12,35.70,35.22,5.765,5.844,5.907,5.935,36.740455,1848.9
2004-05-01,2.63,75.950615,6255.4,34080.0,40.28,40.09,39.57,38.95,6.398,6.472,6.500,6.474,40.265714,1895.4
2004-06-01,2.58,78.710663,6257.7,34394.0,38.05,38.18,38.05,37.78,6.334,6.388,6.400,6.452,38.050000,1822.3
2004-07-01,2.48,77.034920,6271.4,31368.0,40.81,40.63,40.00,39.60,6.064,6.105,6.205,6.486,40.711364,1778.9
2004-08-01,2.42,76.542054,6297.5,34516.0,44.88,44.39,43.96,43.44,5.471,5.643,6.229,6.659,44.923636,1741.7
2004-09-01,2.33,76.049188,6332.2,34385.0,45.94,45.68,45.18,44.65,5.219,5.949,6.594,6.901,45.842273,1868.7
2004-10-01,2.37,77.724932,6360.4,33977.0,53.09,52.63,52.10,51.47,7.371,8.393,8.819,8.748,53.246190,1855.6
2004-11-01,2.51,78.168511,6386.9,35563.0,48.48,48.58,48.50,48.22,7.608,8.213,8.246,7.903,48.520455,1870.1
2004-12-01,2.56,75.753469,6405.4,35638.0,43.26,43.56,43.62,43.45,6.828,6.923,6.855,6.420,43.273478,1896.1
2005-01-01,2.50,74.866310,6411.7,34201.0,46.85,47.05,46.92,46.63,6.186,6.231,6.159,6.178,46.894286,1850.8
2005-02-01,2.54,76.492767,6420.0,34873.0,48.05,48.59,48.81,48.74,6.203,6.274,6.342,6.401,47.982000,1821.5
2005-03-01,2.71,79.252815,6429.0,33079.0,54.63,55.31,55.61,55.67,7.045,7.158,7.245,7.316,54.043043,1886.6
2005-04-01,2.63,84.230760,6443.0,35209.0,53.22,54.60,55.37,55.71,7.150,7.248,7.342,7.401,52.962857,1836.1
2005-05-01,2.49,83.491461,6460.2,34876.0,49.87,51.27,51.91,52.29,6.486,6.564,6.631,6.676,49.906364,1836.6
2005-06-01,2.33,84.477193,6492.7,34543.0,56.42,57.32,57.94,58.32,7.206,7.272,7.308,7.410,56.389091,1872.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-07-01,1.82,108.357525,12045.5,40096.0,50.93,51.34,51.81,52.38,2.805,2.812,2.849,2.962,51.161739,2271.3
2015-08-01,1.61,105.102639,12097.0,39037.0,42.89,43.48,44.34,45.14,2.753,2.784,2.883,3.034,42.863333,2253.8
2015-09-01,1.52,99.381946,12154.0,39684.0,45.47,45.96,46.55,47.18,2.639,2.724,2.875,2.976,45.481364,2285.6
2015-10-01,1.50,95.862885,12187.9,38747.0,46.25,46.89,47.63,48.30,2.378,2.594,2.726,2.735,46.196364,2301.0
2015-11-01,1.57,93.283225,12277.7,39538.0,42.92,44.12,45.12,45.96,2.281,2.428,2.465,2.470,42.652381,2228.0
2015-12-01,1.51,90.380739,12336.1,39018.0,37.33,38.60,39.66,40.52,2.044,2.102,2.156,2.224,37.241304,2029.8
2016-01-01,1.42,88.800118,12461.5,39969.0,31.78,33.04,34.21,35.23,2.233,2.245,2.301,2.353,31.704762,2278.8
2016-02-01,1.31,84.802977,12533.7,40544.0,30.62,32.57,34.17,35.40,1.929,1.999,2.068,2.134,30.348571,2213.3
2016-03-01,1.55,88.231351,12595.4,39058.0,37.96,39.50,40.44,41.14,1.812,1.906,2.011,2.106,37.773913,2086.1
2016-04-01,1.62,91.501516,12685.0,39955.0,41.13,42.29,43.03,43.52,2.014,2.124,2.231,2.293,40.962857,2366.1
2016-05-01,1.60,94.961926,12751.2,38430.0,46.80,47.40,47.82,48.18,2.083,2.231,2.311,2.361,46.845909,2364.0
2016-06-01,1.47,98.590404,12819.6,39044.0,48.84,49.46,49.97,50.41,2.634,2.679,2.704,2.771,48.748636,2400.6
2016-07-01,1.46,96.572119,12880.8,39954.0,44.80,45.52,46.19,46.87,2.761,2.744,2.798,2.977,44.891905,2382.8
2016-08-01,1.47,95.381355,12968.2,39832.0,44.80,45.49,46.20,46.88,2.722,2.770,2.930,3.159,44.749130,2412.6
2016-09-01,1.51,96.528746,13031.5,40075.0,45.23,45.81,46.44,47.05,2.903,2.998,3.193,3.306,45.167273,2329.2
2016-10-01,1.66,96.003351,13105.4,39582.0,49.87,50.38,50.94,51.47,3.064,3.320,3.446,3.450,49.885238,2220.0
2016-11-01,1.82,94.335494,13178.6,39215.0,45.87,46.56,47.29,47.98,2.875,3.018,3.047,3.031,45.623182,2146.5
2016-12-01,1.93,95.273910,13209.8,40337.0,52.17,53.14,53.99,54.64,3.591,3.593,3.547,3.421,52.013636,2246.8
2017-01-01,2.01,98.379950,13282.5,40311.0,52.61,53.39,54.10,54.72,3.291,3.292,3.294,3.305,52.559545,2148.9
2017-02-01,2.02,97.683531,13340.2,39374.0,53.46,53.93,54.32,54.64,2.907,2.999,3.067,3.130,53.401500,2050.8
2017-03-01,1.99,97.881663,13405.5,38883.0,49.67,50.22,50.61,50.91,2.992,3.067,3.140,3.202,49.584783,2238.3
2017-04-01,1.91,99.987185,13470.3,38383.0,51.12,51.52,51.84,52.09,3.189,3.275,3.344,3.368,51.168000,2202.2
2017-05-01,1.83,100.116809,13520.9,40081.0,48.54,48.86,49.12,49.34,3.236,3.317,3.346,3.332,48.559565,2270.3
2017-06-01,1.73,100.863008,13550.8,39812.0,45.20,45.43,45.65,45.87,2.994,3.019,3.013,3.042,45.167727,2285.2
2017-07-01,1.77,99.831933,13616.1,38739.0,46.68,46.84,47.02,47.22,2.955,2.951,2.988,3.067,46.673810,2304.7
2017-08-01,1.78,101.478104,13671.0,39896.0,48.06,48.30,48.51,48.68,2.905,2.942,3.023,3.163,48.031739,2288.9
2017-09-01,1.83,106.316568,13716.9,39617.0,49.88,50.31,50.64,50.88,3.006,3.082,3.229,3.324,49.706190,2290.8
2017-10-01,1.86,102.166145,13779.0,40044.0,51.69,51.96,52.15,52.28,2.916,3.091,3.203,3.206,51.564545,2342.7
2017-11-01,1.85,103.197713,13809.5,40832.0,56.54,56.71,56.78,56.80,3.064,3.151,3.149,3.099,56.710455,2344.9
2017-12-01,1.90,101.825082,13852.0,40151.0,57.95,57.99,57.97,57.90,2.776,2.779,2.737,2.669,57.962381,2402.5

In [68]:

ticker = ['^GSPC']
hist_ticker = yf.download(ticker, '2003-01-01','2017-12-01', interval = '3mo')

[*********************100%***********************]  1 of 1 downloaded

In [76]:
production_qtr = pd.read_csv('./Time_series_data/production_qtr.csv')
production_qtr

,exchange,year,comname,ticker,TOTAL_PRODUCTION,OIL_PRODUCTION,NGL_PRODUCTION,GAS_PRODUCTION,PRICE_OIL_HEDGED,PRICE_GAS_HEDGED,...,PRICE_GAS_UNHEDGED,TOTAL_LINE_OF_CREDIT,TOTAL_CREDIT_UTILIZED,AVAIL_LINE_OF_CREDIT,Debt_Yr_1,Debt_YR_23,Debt_YR_45,Debt_yr_ge5,Remaining_DEBT,fqtr
0,US,2019,Anadarko Petroleum Corp,APC,743.500000,434.0,115.0,1167.0,NaN,NaN,...,1.93,5000.0,1862.0,3100.0,NaN,NaN,NaN,NaN,19433.0,2
1,US,2019,Anadarko Petroleum Corp,APC,714.833333,412.0,111.0,1151.0,NaN,NaN,...,3.09,5000.0,640.0,0.0,NaN,NaN,NaN,NaN,17674.0,1
2,US,2018,Anadarko Petroleum Corp,APC,701.333333,407.0,108.0,1118.0,NaN,NaN,...,3.14,2000.0,28.0,220.0,928.000000,1177.00000,890.0000,14666.0000,17661.0,4
3,US,2018,Anadarko Petroleum Corp,APC,681.500000,397.0,106.0,1071.0,NaN,NaN,...,2.35,6820.0,278.0,6502.0,NaN,NaN,NaN,NaN,16467.0,3
4,US,2018,Anadarko Petroleum Corp,APC,636.833333,364.0,100.0,1037.0,NaN,NaN,...,2.15,6760.0,278.0,6502.0,NaN,NaN,NaN,NaN,16064.0,2
5,US,2018,Anadarko Petroleum Corp,APC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6500.0,28.0,0.0,NaN,NaN,NaN,NaN,16174.0,1
6,US,2017,Anadarko Petroleum Corp,APC,637.333333,367.0,93.0,1064.0,NaN,NaN,...,2.63,1500.0,28.0,222.0,481.000000,1298.00000,1970.0000,13283.0000,17032.0,4
7,US,2017,Anadarko Petroleum Corp,APC,626.000000,353.0,92.0,1086.0,NaN,NaN,...,2.69,2700.0,28.0,945.0,NaN,NaN,NaN,NaN,16921.0,3
8,US,2017,Anadarko Petroleum Corp,APC,631.333333,331.0,94.0,1238.0,NaN,NaN,...,2.84,6450.0,528.0,6257.0,NaN,NaN,NaN,NaN,15237.0,2
9,US,2017,Anadarko Petroleum Corp,APC,794.833333,367.0,118.0,1859.0,NaN,NaN,...,3.00,6450.0,528.0,6417.0,NaN,NaN,NaN,NaN,15083.0,1
10,US,2016,Anadarko Petroleum Corp,APC,773.500000,336.0,124.0,1881.0,NaN,NaN,...,2.56,6200.0,5.0,6190.0,34.000000,1409.00000,1300.0000,13963.0000,16706.0,4
11,US,2016,Anadarko Petroleum Corp,APC,782.608696,317.0,129.0,2003.0,NaN,NaN,...,2.36,6200.0,20.0,6175.0,NaN,NaN,NaN,NaN,18573.0,3
12,US,2016,Anadarko Petroleum Corp,APC,791.666667,296.0,131.0,2188.0,NaN,NaN,...,1.61,6450.0,568.0,5877.0,NaN,NaN,NaN,NaN,15653.0,2
13,US,2016,Anadarko Petroleum Corp,APC,826.833333,315.0,128.0,2303.0,NaN,NaN,...,1.75,6450.0,658.0,5787.0,NaN,NaN,NaN,NaN,18731.0,1
14,US,2015,Anadarko Petroleum Corp,APC,778.666667,316.0,118.0,2068.0,NaN,NaN,...,2.08,6200.0,550.0,5644.0,2033.000000,2516.00000,1200.0000,NaN,33043.0,4
15,US,2015,Anadarko Petroleum Corp,APC,787.000000,301.0,122.0,2186.0,NaN,NaN,...,2.41,6200.0,727.0,5460.0,NaN,NaN,NaN,NaN,33401.0,3
16,US,2015,Anadarko Petroleum Corp,APC,846.000000,318.0,136.0,2354.0,NaN,NaN,...,2.28,6200.0,862.0,5325.0,NaN,NaN,NaN,NaN,16037.0,2
17,US,2015,Anadarko Petroleum Corp,APC,934.333333,335.0,143.0,2738.0,NaN,NaN,...,2.60,6200.0,1120.0,5067.0,NaN,NaN,NaN,NaN,35294.0,1
18,US,2014,Anadarko Petroleum Corp,APC,853.833333,300.0,129.0,2549.0,NaN,NaN,...,3.46,6200.0,523.0,5677.0,0.000000,3750.00000,1874.0000,NaN,31758.0,4
19,US,2014,Anadarko Petroleum Corp,APC,849.000000,303.0,130.0,2494.0,NaN,NaN,...,3.62,6200.0,183.0,6004.0,NaN,NaN,NaN,NaN,29448.0,3
20,US,2014,Anadarko Petroleum Corp,APC,848.000000,291.0,120.0,2620.0,NaN,NaN,...,4.16,6200.0,123.0,6064.0,NaN,NaN,NaN,NaN,15037.0,2
21,US,2014,Anadarko Petroleum Corp,APC,819.000000,270.0,99.0,2697.0,NaN,NaN,...,5.01,6200.0,NaN,6200.0,NaN,NaN,NaN,NaN,15202.0,1
22,US,2013,Anadarko Petroleum Corp,APC,805.500000,265.0,100.0,2643.0,NaN,NaN,...,3.46,5800.0,NaN,5800.0,775.000000,1750.00000,2364.0000,NaN,26622.0,4
23,US,2013,Anadarko Petroleum Corp,APC,775.000000,245.0,92.0,2629.0,NaN,NaN,...,3.33,5800.0,113.0,5687.0,NaN,NaN,NaN,NaN,15302.0,3
24,US,2013,Anadarko Petroleum Corp,APC,750.000000,226.0,83.0,2647.0,NaN,NaN,...,3.88,5800.0,263.0,5537.0,NaN,NaN,NaN,NaN,15202.0,2
25,US,2013,Anadarko Petroleum Corp,APC,793.000000,257.0,88.0,2689.0,NaN,NaN,...,3.33,5800.0,398.0,5402.0,NaN,NaN,NaN,NaN,15337.0,1
26,US,2012,Anadarko Petroleum Corp,APC,741.166667,234.0,87.0,2521.0,NaN,NaN,...,3.28,5800.0,NaN,5800.0,0.000000,775.00000,3750.0000,10427.0000,14952.0,4
27,US,2012,Anadarko Petroleum Corp,APC,739.000000,234.0,88.0,2502.0,NaN,NaN,...,2.67,5800.0,1000.0,4800.0,NaN,NaN,NaN,NaN,14141.0,3
28,US,2012,Anadarko Petroleum Corp,APC,742.000000,241.0,77.0,2544.0,NaN,NaN,...,2.15,5800.0,1850.0,4000.0,NaN,NaN,NaN,NaN,14832.0,2
29,US,2012,Anadarko Petroleum Corp,APC,703.666667,221.0,80.0,2416.0,NaN,NaN,...,2.60,5000.0,2900.0,2100.0,NaN,NaN,NaN,NaN,15386.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4110,AR,2011,YPF SA,YPFD,467.750000,269.5,NaN,1155.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4111,AR,2011,YPF SA,YPFD,438.116667,221.0,NaN,1302.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4112,AR,2011,YPF SA,YPFD,439.500000,183.9,44.1,1224.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4113,AR,2011,YPF SA,YPFD,501.833333,295.0,NaN,1241.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4114,AR,2010,YPF SA,YPFD,518.400000,296.0,NaN,1292.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1552.265815,69.62073,112.4161,124.2361,NaN,4
4115,AR,2010,YPF SA,YPFD,526.465000,299.5,NaN,1363.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4116,AR,2010,YPF SA,YPFD,523.916667,303.5,NaN,1322.5,NaN,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2
4117,AR,2010,YPF SA,YPFD,521.666667,306.0,NaN,1294.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4118,AR,2009,YPF SA,YPFD,551.000000,304.0,NaN,1435.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4119,AR,2009,YPF SA,YPFD,566.750000,310.0,NaN,1540.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4120,AR,2009,YPF SA,YPFD,573.500000,318.5,NaN,1530.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4121,AR,2009,YPF SA,YPFD,574.500000,322.0,NaN,1515.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4122,AR,2008,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4123,AR,2008,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4124,AR,2008,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4125,AR,2008,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4126,AR,2007,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4127,AR,2007,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4128,AR,2007,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4129,AR,2007,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4130,AR,2006,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4131,AR,2006,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4132,AR,2006,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4133,AR,2006,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4134,AR,2005,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4135,AR,2005,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4136,AR,2005,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4137,AR,2005,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4138,AR,2004,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4139,AR,2004,YPF SA,YPFD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3

In [78]:
processed_file = pd.read_csv('./Time_series_data/output_after_sam.csv')
processed_file

,AHC20060309,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,table:0,dattime1,dattime1_type,Price1,Price1_type,vol1,vol1_type,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,2006,",,,maturity,",$28.10,"brent crude oil,,average,selling price,",30,"brent crude oil,,thousands of,barrels per day,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6,2007,",,,maturity,",25.85,"brent crude oil,,average,selling price,",24,"brent crude oil,,thousands of,barrels per day,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7,2008,",,,maturity,",25.56,"brent crude oil,,average,selling price,",24,"brent crude oil,,thousands of,barrels per day,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,2009,",,,maturity,",25.54,"brent crude oil,,average,selling price,",24,"brent crude oil,,thousands of,barrels per day,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9,2010,",,,maturity,",25.78,"brent crude oil,,average,selling price,",24,"brent crude oil,,thousands of,barrels per day,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10,2011,",,,maturity,",26.37,"brent crude oil,,average,selling price,",24,"brent crude oil,,thousands of,barrels per day,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11,2012,",,,maturity,",26.9,"brent crude oil,,average,selling price,",24,"brent crude oil,,thousands of,barrels per day,",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,APA20060314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,table:0,dattime1,dattime1_type,",,instrument type,,",vol1,vol1_type,Price1,Price1_type,Price2,Price2_type,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,5,2006,",,production period,,",Gas Collars,32850000,"total,volumes,(mmbtu/bbl),,",$5.50/ 6.66,"weighted,average,floor/ceiling,,","$(133,936","fair value,asset/,(liability),,(in thousands)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,6,NaN,",,production period,,",Gas Fixed-Price Swap,4404000,"total,volumes,(mmbtu/bbl),,",5.87,"weighted,average,floor/ceiling,,",Neg21232,"fair value,asset/,(liability),,(in thousands)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,7,NaN,",,production period,,",Oil Collars,4307000,"total,volumes,(mmbtu/bbl),,",32.07/ 40.66,"weighted,average,floor/ceiling,,",Neg95583,"fair value,asset/,(liability),,(in thousands)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,8,NaN,",,production period,,",Oil Fixed-Price Swap,224000,"total,volumes,(mmbtu/bbl),,",38.5,"weighted,average,floor/ceiling,,",Neg5365,"fair value,asset/,(liability),,(in thousands)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,9,NaN,",,production period,,",Oil Put Option,1533000,"total,volumes,(mmbtu/bbl),,",28,"weighted,average,floor/ceiling,,",16,"fair value,asset/,(liability),,(in thousands)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10,2007,",,production period,,",Gas Collars,24570000,"total,volumes,(mmbtu/bbl),,",5.25/ 6.20,"weighted,average,floor/ceiling,,",Neg96917,"fair value,asset/,(liability),,(in thousands)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,11,NaN,",,production period,,",Gas Fixed-Price Swap,1761000,"total,volumes,(mmbtu/bbl),,",5.57,"weighted,average,floor/ceiling,,",Neg7997,"fair value,asset/,(liability),,(in thousands)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,12,NaN,",,production period,,",Oil Collars,1911000,"total,volumes,(mmbtu/bbl),,",33.00/ 39.25,"weighted,average,floor/ceiling,,",Neg45533,"fair value,asset/,(liability),,(in thousands)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,13,NaN,",,production period,,",Oil Fixed-Price Swap,78000,"total,volumes,(mmbtu/bbl),,",36.89,"weighted,average,floor/ceiling,,",Neg1982,"fair value,asset/,(liability),,(in thousands)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,APA20070301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,table:0,dattime1,dattime1_type,",,instrument type,,",vol1,vol1_type,Price1,Price1_type,Price2,Price2_type,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,5,2007,",costless collars,production period,,",Gas Collars,53770000,",total volumes,(mmbtu/bbl/gj),,, MMBtu",$5.25|8.65,",floor price,range,,",$5.85|11.00,",ceiling price,range,,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,6,NaN,",costless collars,production period,,",Gas Collars,23725000,",total volumes,(mmbtu/bbl/gj),,, MMBtu",$6.85|7.00,",floor price,range,,",$9.52|10.15,",ceiling price,range,,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,7,NaN,",costless collars,production period,,",Gas Collars,3650000,",total volumes,(mmbtu/bbl/gj),,, GJ",$6.24|6.24,",floor price,range,,",$8.15|8.15,",ceiling price,range,,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,8,NaN,",costless collars,production period,,",Oil Collars,6473500,",total volumes,(mmbtu/bbl/gj),,, Bbl",$33.00|75.00,",floor price,range,,",$39.25|85.00,",ceiling price,range,,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,9,2008,",costless collars,production period,,",Gas Collars,25620000,",total volumes,(mmbtu/bbl/gj),,, MMBtu",$7.50|8.15,",floor price,range,,",$10.47|10.80,",ceiling price,range,,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,10,NaN,",costless collars,production period,,",Gas Collars,23790000,",total volumes,(mmbtu/bbl/gj),,, MMbtu",$6.90|7.00,",floor price,range,,",$9.55|10.05,",ceiling price,range,,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,11,NaN,",costless collars,production period,,",Gas Collars,3660000,",total volumes,(mmbtu/bbl/gj),,, GJ",$6.24|6.24,",floor price,range,,",$8.13|8.13,",ceiling price,range,,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,12,NaN,",costless collars,production period,,",Oil Collars,4575000,",total volumes,(mmbtu/bbl/gj),,, Bbl",$69.00|69.00,",floor price,range,,",$79.65|81.50,",ceiling price,range,,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,APA20070301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5708,4,2015,42888,",volume mmbtu/bbl",$4.20,",weighted average strike price per mmbtu/bbl",natural gas,swaps,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5709,6,2015,20075,",volume mmbtu/bbl",4.29,",weighted average strike price per mmbtu/bbl",natural gas,call options,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5710,9,"2015,Sold call",27375,",volume mmbtu/bbl",4.47,",weighted average strike price per mmbtu/bbl",natural gas,three-way collars,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5711,10,"2015,Purchased put",27375,",volume mmbtu/bbl",3.83,",weighted average strike price per mmbtu/bbl",natural gas,three-way collars,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5712,11,"2015,Sold put",27375,",volume mmbtu/bbl",3.33,",weighted average strike price per mmbtu/bbl",natural gas,three-way collars,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5713,13,"2016,Sold call",10980,",volume mmbtu/bbl",4.8,",weighted average strike price per mmbtu/bbl",natural gas,three-way collars,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5714,14,"2016,Purchased put",10980,",volume mmbtu/bbl",3.9,",weighted average strike price per mmbtu/bbl",natural gas,three-way collars,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5715,15,"2016,Sold put",10980,",volume mmbtu/bbl",3.4,",weighted average strike price per mmbtu/bbl",natural gas,three-way collars,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5716,19,2015,1095,",volume mmbtu/bbl",$91.09,",weighted average strike price per mmbtu/bbl",oil,swaps,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5717,21,2015,91,",volume mmbtu/bbl",6.1,",weighted average strike price per mmbtu/bbl",oil,basis swaps,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5718,23,2015,365,",volume mmbtu/bbl",100,",weighted average strike price per mmbtu/bbl",oil,call options,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5719,XCO20160302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5720,table:0,",(dollars in thousands, except prices)",vol1,vol1_type,vol2,vol2_type,product_type,instrument_type,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5721,4,2016,34770,",volume bbtu/mbbl",$3.09,",weighted average strike price per mmbtu/bbl",natural gas,swaps,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5722,5,2017,10950,",volume bbtu/mbbl",3.28,",weighted average strike price per mmbtu/bbl",natural gas,swaps,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5723,6,2018,3650,",volume bbtu/mbbl",3.15,",weighted average strike price per mmbtu/bbl",natural gas,swaps,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5724,10,2016,915,",volume bbtu/mbbl",$61.89,",weighted average strike price per mmbtu/bbl",oil,swaps,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5725,XCO20170316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5726,table:0,",",vol1,vol1_type,vol2,vol2_type,instrument_type,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5727,3,2017,38300,",nymex gas volume - bbtu",$3.02,",weighted average contract price per mmbtu",swaps,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5728,4,2018,3650,",nymex gas volume - bbtu",3.15,",weighted average contract price per mmbtu",swaps,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5729,7,"2017,Sold call",10950,",nymex gas volume - bbtu",$3.28,",weighted average contract price per mmbtu",collars,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5730,8,"2017,Purchased put",10950,",nymex gas volume - bbtu",2.87,",weighted average contract price per mmbtu",collars,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5731,XCO20170316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5732,table:1,",(dollars in thousands, except prices)",vol1,vol1_type,vol2,vol2_type,product_type,instrument_type,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5733,4,2017,38300,",volume bbtu/mbbl",3.02,",weighted average strike price per mmbtu/bbl",natural gas,swaps,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5734,5,2018,3650,",volume bbtu/mbbl",3.15,",weighted average strike price per mmbtu/bbl",natural gas,swaps,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5735,8,"2017,Sold call",10950,",volume bbtu/mbbl",3.28,",weighted average strike price per mmbtu/bbl",natural gas,collars,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5736,9,"2017,Purchased put",10950,",volume bbtu/mbbl",2.87,",weighted average strike price per mmbtu/bbl",natural gas,collars,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5737,13,2017,183,",volume bbtu/mbbl",$50.00,",weighted average strike price per mmbtu/bbl",oil,swaps,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN